#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=true
Type=Application
Name=Run SIMPOSYum
Exec=/home/jaystar/Programs/SIMPOSYum/RUN_SYMPOSYum.sh
Icon=/home/jaystar/Programs/SIMPOSYum/SIMPOSYum.ico
Path=/home/jaystar/Programs/SIMPOSYum/
